
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2vh;
  font-family: sans-serif;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 70vh;
  padding: 20px;
  width: 100vh;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: calc(max-content + 1vh);
  padding: 10px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.title_label {
  color: white;
}


input[type="file"] {
  display: none;
}

.upload-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: #2979ff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.upload-btn:hover {
  background-color: #1565c0;
}

.file-name {

  font-size: 14px;
  margin-top: 10px;
  color: whites;
}